{
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "auto",
  "importOrder": [
    "(use client|use server|server-only)",
    "^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "@mui*",
    "^@jh/*/(.*)$",
    "^([../]|[./]|[.])"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all"
}
